# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

lck

# Python:
*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*.egg
*.egg-info
*.log
*.log.*
dist
build
crawlerproj/settings_dev.py
guangxi_geo.txt
xinjiang_geo.txt
# My configurations:
db.ini
deploy_key_rsa

crawlerapp/media/*

.DS_Store
celerybeat-schedule
celerybeat.pid
crawlog.log
dump.rdb


*.csv
*.zip

*/*.csv
*/*/*.csv
*/*/*/*.csv

*/*.zip
*/*/*.zip
*/*/*/*.zip

.idea
beijing_geo.txt
*.txt
*.log
ENV
proj/crawlerproj/settings_dev.py
logs/*
log/*.log
log/*/*.log
.env
!requirements.txt
*.swp
conf/docker-compose.yml
static/

